@model ASP.NET_MVC.Models.Book

@{
    ViewBag.Title = "GetB";
}

<h2>Book</h2>

@Html.DisplayForModel()

@*@Html.DisplayFor(m=>m.Name)<br />
@Html.Display("Author")<br />
@Html.Display("Price")<br />*@


